/* Add your own CSS code below */
.heart {
  color: #c85308;
}
@media (min-width: 992px) {
  .hero__title {
    font-size: 50px;
  }
}

nav {
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 767px) {
  header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  nav {
    display: flex;
  }

  .views {
    display: flex;
  }
  .view-list__item {
    margin-left: 15px;
  }
  .views__all {
    margin-left: auto;
  }
}

.site-content {
  display: flex;
  justify-content: center;
}
.main-article h1 {
  display: flex;
  justify-content: center;
}
.main-article p {
  line-height: 2;
  display: flex;
  align-self: center;
}
